<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
    <a class="navbar-brand">Lab_Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Browse</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="nav-item">
                <a class="nav-link" href="#">Activity</a>
            </li>
            <li class="nav-item <%= path === '/admin/add-product' ? 'active' : '' %>">
                <a class="nav-link" href="/admin/add-product">Add Product</a>
            </li>
            <li class="nav-item <%= path === '/admin/products' ? 'active' : '' %>">
                <a class="nav-link" href="/admin/products">Admin Products</a>
            </li>
            <% } %>

        </ul>

        <ul class="navbar-nav ml-auto">
            <% if (!isAuthenticated) { %>
            <li class="nav-item <%= path === '/signup' ? 'active' : '' %>" style="margin: 0px 5px ;">
                <a class="btn btn-secondary btn-sm" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item <%= path === '/login' ? 'active' : '' %>">
                <a class="btn btn-secondary btn-sm" href="/login">Login</a>
            </li>
            <% } else { %>
            <form action="/logout" method="POST">
                <li class="nav-item <%= path === '/logout' ? 'active' : '' %>">
                    <button type="submit" class="btn btn-outline-danger btn-sm" href="/logout">Logout</button>
                </li>
            </form>

            <% } %>
        </ul>

    </div>
</nav>
&nbsp;&nbsp;