<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <% if (products.length > 0) { %>
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                Recent Activity
            </div>
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>In Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(p => {%>
                    <tr>
                        <td><%= p.productId.title %></td>
                        <td><%= p.productId.category %></td>
                        <td><%= p.quantity %></td>
                        <td></td>
                        <td>
                            <form action="/return" method="POST">
                                <button class="btn btn-outline-danger btn-sm">Return</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <% } else { %>
    <h1>No products Found! </h1>
    <% } %>

    </div>

    <%- include('../includes/end.ejs') %>